# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files with possible secrets
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan
plan.out

# Local environment files
.env